@mixin section {
  width: $site-width;
  max-width: $max-width-percentage;
  margin: 0 auto;
}

.line-on-left {
  position: relative;
  padding-left: 10px;

  &:before {
    content: ' ';
    position: absolute;
    left: 0px;
    width: 4px;
    top: 23%;
    height: 60%;
    background-color: #20B8D6;

  }
}

.mt8 {
  margin-top: $small-gap !important;
}

.mb50 {
  padding-bottom: 50px;
}

/*
https://ianlunn.github.io/Hover/
*/

a.black-button {
  background-color: #333;
  padding: 20px 33px 20px 33px;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 1px;
  font-family: f-HelveticaRoman;
  border-radius: 5px;
  text-decoration: none;
  color: $white;
  display: inline-block;
  vertical-align: middle;
  

  position: relative;
  transition-property: color;
  transition-duration: 0.3s;

  border:2px solid #333;

  &:hover,
  &:focus,
  &:active {
    color: $black;
    background-color: transparent;
    border:2px solid #333;
  }



}

[class^="hvr-"] {
  cursor: pointer;
  background: $black;
  text-decoration: none;
  color: #666;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  transition-property: color;
  transition-duration: 0.5s;
  border-radius: 5px !important;
  padding-left: 18px !important;
  padding-right: 18px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $white;
    border-radius: 5px !important;
    border-color: $white;


    transform: scaleX(0);
    transform-origin: 0 50%;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }
}

#menu .content ul li:hover {

  a.hvr-sweep-to-right {

    color: $black !important;
    
    &:before {
      transform: scaleX(1);
      border-radius: 5px;
      border: 1px solid $white;
    }
  }
}





.closed {
  display: none;
}