$site-width:1050px;


$white: #ffffff;
$black: #000000;
$small-gap:8px;

$light-border-color:#E8E8E8;

$light-grey-box: #F5F5F5;
$link-hover-color:blue;

$margin-between-sections:50px;
$img-border-radius:5px;

$rotate-speed:0.5s;
$max-width-percentage:95%;

$light-black:#212121;
$darker-black: #171717;

$main-menu-slide-time:1s;