@import '_constants';



$open-sans: 'Open Sans', sans-serif;

.f-HelveticaLight {
  font-family: f-HelveticaLight;
}

.f-HelveticaRoman {
  font-family: f-HelveticaRoman;
}

.f-HelveticaMedium {
  font-family: f-HelveticaMedium;
}


.f-HelveticaBold {
  font-family: f-HelveticaBold;
}
.f-HelveticaHeavy {
  font-family: f-HelveticaHeavy;
}

@font-face {

  font-family: f-HelveticaLight;
  src: url('../fonts/HelveticaNeue/HelveticaNeueLTStd-Lt.eot');
  src: url('../fonts/HelveticaNeue/HelveticaNeueLTStd-Lt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeue/HelveticaNeueLTStd-Lt.woff2') format('woff2'),
    url('../fonts/HelveticaNeue/HelveticaNeueLTStd-Lt.woff') format('woff'),
    url('../fonts/HelveticaNeue/HelveticaNeueLTStd-Lt.ttf') format('truetype'),
    url('../fonts/HelveticaNeue/HelveticaNeueLTStd-Lt.svg#HelveticaNeueLTStd-LtIt') format('svg');
  font-weight: 300;
  font-style:normal;
}


@font-face {
  font-family: f-HelveticaRoman;
  src: url('../fonts/HelveticaNeue/HelveticaNeueLTStd-Roman.eot');
  src: url('../fonts/HelveticaNeue/HelveticaNeueLTStd-Roman.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeue/HelveticaNeueLTStd-Roman.woff2') format('woff2'),
    url('../fonts/HelveticaNeue/HelveticaNeueLTStd-Roman.woff') format('woff'),
    url('../fonts/HelveticaNeue/HelveticaNeueLTStd-Roman.ttf') format('truetype'),
    url('../fonts/HelveticaNeue/HelveticaNeueLTStd-Roman.svg#HelveticaNeueLTStd-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: f-HelveticaMedium;
  src: url('../fonts/HelveticaNeue/HelveticaNeueLTStd-Md.eot');
  src: url('../fonts/HelveticaNeue/HelveticaNeueLTStd-Md.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeue/HelveticaNeueLTStd-Md.woff2') format('woff2'),
    url('../fonts/HelveticaNeue/HelveticaNeueLTStd-Md.woff') format('woff'),
    url('../fonts/HelveticaNeue/HelveticaNeueLTStd-Md.ttf') format('truetype'),
    url('../fonts/HelveticaNeue/HelveticaNeueLTStd-Md.svg#HelveticaNeueLTStd-Md') format('svg');
  font-weight: 500;

}

@font-face {
  font-family: f-HelveticaBold;
  src: url('../fonts/HelveticaNeue/HelveticaNeueLTStd-Bd.eot');
  src: url('../fonts/HelveticaNeue/HelveticaNeueLTStd-Bd.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeue/HelveticaNeueLTStd-Bd.woff2') format('woff2'),
    url('../fonts/HelveticaNeue/HelveticaNeueLTStd-Bd.woff') format('woff'),
    url('../fonts/HelveticaNeue/HelveticaNeueLTStd-Bd.ttf') format('truetype'),
    url('../fonts/HelveticaNeue/HelveticaNeueLTStd-Bd.svg#HelveticaNeueLTStd-Bd') format('svg');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: f-HelveticaHeavy;
  src: url('../fonts/HelveticaNeue/HelveticaNeueLTStd-Hv.eot');
  src: url('../fonts/HelveticaNeue/HelveticaNeueLTStd-Hv.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeue/HelveticaNeueLTStd-Hv.woff2') format('woff2'),
    url('../fonts/HelveticaNeue/HelveticaNeueLTStd-Hv.woff') format('woff'),
    url('../fonts/HelveticaNeue/HelveticaNeueLTStd-Hv.ttf') format('truetype'),
    url('../fonts/HelveticaNeueHelveticaNeue/LTStd-Hv.svg#HelveticaNeueLTStd-HvIt') format('svg');
  font-weight: 900;
  font-style: italic;
}


@mixin open-sans {
  font-family: "Open Sans", sans-serif;
}


* {
  font-size: 16px;

}


.f-78 {
  font-size: 78px;
  line-height: 72px;
}


.f-40 {
  font-size: 40px;
}


.f-32 {
  font-size: 32px;
}


.f-22 {
  font-size: 22px;
}


.f-20 {
  font-size: 20px;
}


.f-18 {
  font-size: 18px;
}


.f-open-sans {
  @include open-sans;
  font-weight:400;
}


.white {
  color: $white;
}