@import '_constants';
@import '_fonts';

$footer-line-width:65%;
$footer-line-width-mobile:85%;

footer {

  background-color: $light-black;
  display: flex;
  flex-direction: column;
  position: relative;

  align-items: center;
  justify-content: center;


  .line-1 {
    margin-top: 110px;
    @include open-sans;
  }
  



  .line-2 {

    padding-top: 58px;
    padding-bottom: 50px;

    ul {
      list-style-type: none;
      li {
        float: left;
        padding-left: 20px;
        padding-right: 20px;
       
        a {
          font-family: f-HelveticaMedium;
          font-size: 18px;
          letter-spacing: 0.5px;
          text-decoration: none;
          color: $white;
        }
      }
    }
  }


  .line-3 {

    height: 1px;
    width: $footer-line-width;
    background-color: #707070;
    @include open-sans;
  }

  .line-4 {

    padding-top: 49px;
    padding-bottom: 53px;

    display: flex;
    justify-content: space-between;
    width: $footer-line-width;
    font-size: 18px;

    .left {
      font-family: f-HelveticaRoman;
      font-size: 16px;
      letter-spacing: 0.5px;
      color: $white;
    }

    .right {
      img {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }

  .line-5 {

    width: 100%;
    background-color: $darker-black;

    .content {
      display: flex;
      justify-content: space-between;
      width: $footer-line-width;
      margin: 0 auto;

      padding-top: 37px;
      padding-bottom: 35px;
      @include open-sans;
      background-color: $darker-black;

      width: $footer-line-width;

      .left {
        font-family: f-HelveticaRoman;
        font-size: 15px;
        color: $white;
        letter-spacing: 0.5px;
      }

      .right {
        ul {
          list-style-type: none;
        }

        li {
          float: left;
          padding-left: 20px;
          padding-right: 20px;
          font-family: f-HelveticaRoman;
          font-size: 15px;
          letter-spacing: 0.5px;

          &:last-child {
            padding-right: 0px;
          }

          a {
            font-family: f-HelveticaRoman;
            font-size: 15px;
            text-decoration: none;
            color: $white;
          }
        }

      }
    }


  }
}


@media (max-width: 880px) {

  footer {

    .line-1 {
      margin-top: 300px;
      @include open-sans;
    }

    .line-2 {

      padding-top: 58px;
      padding-bottom: 50px;

      ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
      }

      li {
        padding-bottom: 10px;
      }

    }

    .line-3 {
      width: $footer-line-width-mobile;
    }

    .line-4 {

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .right {

        padding-top: 20px;
        display: flex;
        align-content: center;

        a {
          display: block;
        }

      }
    }

    .line-5 {

      .content {
        display: flex;
        flex-direction: column;


        .left {
          text-align: center;
          padding-bottom: 20px;
        }

        .right {
          ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }

          li {
            padding-bottom: 20px;

            &:last-child {
              padding-bottom: 0px;
            }
          }
        }
      }
    }
  }

}
