@import '_constants';


section.full-width-message {

  background-color: $light-grey-box;


  display: flex;
  flex-direction: column;
  padding: 220px 0px 220px 0px;
  align-items: center;
  justify-content: center;

  h3 {
    font-size: 60px;
    letter-spacing: -2px;
    line-height: 60px;
    padding-bottom: 40px;
  }

  a.black-button {}

}


@media (max-width: 680px) {

  section.full-width-message {

    h3 {
      max-width: $max-width-percentage;
      text-align: center;
    }
  
  
    a.black-button {}

  }

}
