@import '_constants';
@import '_fonts';


section.full-page-banner {

  width: 100vw;
  max-width: 100%;
  height: 100vh;

  background-repeat: none;
  background-size:cover;

  .high-res {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    z-index:0.1;
    opacity:0;
  }

  .wrapper {

    width: $site-width;
    margin: 0 auto;
    position: relative;

    z-index:20;

    .high-res {
      position: absolute;
      background-position: 50% 50%;
      z-index: 0.2;
    }


    .text {
      position: absolute;
      bottom: 37px;
      z-index: 0.3;
 
      h1 {
        display: block;
        font-size: 30px;
        font-family: f-HelveticaMedium;
        color: $white !important;
      }

      h3 {
        display: block;
        max-width: 446px;
        line-height: 61px;
        font-size: 61px;
        font-family: f-HelveticaBold;
        color: $white !important;
      }

    }

  }


}