@import '_constants';

section.heading-left-text-right {
  @include section;
  display: flex;
  padding-top: 115px;
  padding-bottom: 100px;

  &>div {
    border: 0px solid #000000;
    width: 50%;

    &.left {
      padding-right: 51px;
      text-align: right;
      line-height: 40px;
      letter-spacing: -1px;
    }

    &.right {
      p {
        padding-bottom: 34px;
        line-height: 30px;

        &:last-child {
          padding-bottom: 0px;
        }
      }

      .closed {
        padding-top: 25px;
      }

      .read-more-button {
        display: flex;
        vertical-align: middle;
        margin-left: 0px;
        margin-top: -2px;
        position: relative;
        cursor: pointer;
        height: 15px;

        .read-more-icon {

          position: relative;
          margin-left: 15px;

          span {
            display: block;
            position: absolute;
            background: #000;
            -webkit-transition: all .2s ease-in-out;
            -o-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
            margin-top: 2px;
          }

          span:first-child {
            top: 3px;
            height: 15px;
            width: 1px;
            left: 49%;
          }

          span:last-child {
            top: 66%;
            height: 1px;
            width: 15px;
            left: -7px;
          }

          &.rotated {
            span:first-child {
              transform: rotate(90deg);
            }

            span:last-child {
              transform: rotate(180deg);
            }
          }

        }
      }



    }

  }
}


@media (max-width: 900px) {

  section.heading-left-text-right {

    display: flex;
    flex-direction: column;

    &>div {

      width: 100%;

      &.left {
        padding-right: 0px;
        padding-bottom: 20px;
        text-align: left;

      }

      &.right {
        p {}

        .closed {}


      }

    }

  }
}