@import '_constants';
@import '_fonts';

div.image-heading {

  @include section;
  max-width: 100%;

  padding-top: 25px;
  padding-bottom: 25px;

  display:flex;
  flex-direction: column;

  a {
    // font-weight: bold;
    letter-spacing: 0.5px;
  }


}

@media (max-width: 600px) {

  div.image-heading {


    max-width: $max-width-percentage;

  
  }

}