@import '_constants';
@import '_fonts';

section.image-row {

  @include section;
  display: flex;

  a {
    display: block;
    position: relative;
    border-radius: $img-border-radius;
    width:calc((#{$site-width} - #{$small-gap}) / 2);
    height: auto;
    margin-right: $small-gap;
    overflow: hidden;

    &:last-child {
      margin-right: 0px;
    }

    .text {
      position: absolute;
      color: $white;
      padding-bottom: 0px;
      transition: all .2s ease-in-out;
    }

  }


  &.images-2 a  {

    .text {
      left: 25px;
      bottom: 20px;
    }

    &:hover {
      .text {
        left: 30px;
        bottom: 25px;
        transition: all .25s ease-in-out;
      }
    }
  }


  &.images-4 a  {

    .text {
      left: 15px;
      bottom: 10px;
    }

    &:hover {
      .text {
        left: 20px;
        bottom: 15px;
        transition: all .2s ease-in-out;
      }
    }
  }

  

  img {
    display: block;
    width: 100%;
    object-fit: cover;

 
    border-radius: $img-border-radius;
    transition: all .2s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }

}



@media (max-width: 600px) {

  section.image-row {


    flex-direction: column;
  
    a {

      width:100%;
 
      margin-right: 0px;
      margin-bottom: $small-gap;

  
      .text {
        position: absolute;
        color: $white;
        padding-bottom: 0px;
        transition: all .2s ease-in-out;
      }
  
    }
  
  
    &.images-2 a  {
  
      .text {
        left: 20px;
        bottom: 24px;
      }
  
      &:hover {
        .text {
          left: 25px;
          bottom: 35px;
          transition: all .2s ease-in-out;
        }
      }
    }
  
  
    &.images-4 a  {
  
      .text {
        left: 20px;
        bottom: 15px;
      }
  
      &:hover {
        .text {
          left: 25px;
          bottom: 25px;
          transition: all .2s ease-in-out;
        }
      }
    }
  
    
  
  
  }
}
