@import '_constants';

section.line-with-link {
  @include section;
  max-width: 100%;
  border-top: 1px solid $light-border-color;
  border-bottom: 1px solid $light-border-color;
  padding-top: 25px;
  padding-bottom: 80px;
  margin-top:30px;
  text-align: right;

  .content {

    display: flex;
    justify-content: flex-end;

    a {
      color: $black;
      text-decoration: none;   
      transition: all 0.5s ease;
      // font-weight: bold;
      letter-spacing: 0.5px;
      
    }

    .arrow {
      display: inline;
      width: 13px;
      height: 13px;
      background-image: url('/images/icons/arrow-right.svg');
      background-repeat: no-repeat;
      background-size: contain;
      margin-left:10px;
      margin-top:5px;
      transition: all 0.5s ease;
    }


    &:hover {

      a {
        transform: translateX(-5px);
        transition: all 0.5s ease;
      }

      .arrow {
        transform: translateX(5px);
        transition: all 0.5s ease;
      }

    }
  }

}



@media (max-width: 600px) {

  section.line-with-link {

    max-width: $max-width-percentage;

    .content {
    }
  
  }

}