/*
https://stackoverflow.com/questions/24579785/force-iframe-youtube-video-to-center-fit-and-full-cover-the-screen-in-the-backgr
*/

$submenu-transition:.8s;

#menu {

  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100vh;
  position: absolute;
  background-color: $black;
  z-index:1;


  opacity: 0;
  

  .content {
    opacity:1 ;
    position: absolute;
    top: 43%;

    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    

    ul {

      display: flex;

      li {
        list-style-type: none;

        a {
          font-family: f-HelveticaMedium;
          font-size: 30px;
          padding-left: 36px;
          padding-right: 36px;
          margin-left: 20px;
          margin-right: 20px;
          color: $white;
          text-decoration: none;
          position: relative;
        }

        /*2nd level menu*/
        ul {
          position: absolute;
          display: flex;
          flex-direction: column;
          padding-top: 40px;
          margin-left: -20px;
          width: 400px;

          opacity: 0;
          transition: all 0.25s;


          /*2nd level menu*/
          li {      
            /*decreasing padding*/
            padding-bottom: 15px;
            
            transition: all 0.25s;      

            a {
              font-family: f-HelveticaMedium;
              font-size: 20px;
            }
          }
        }

        &:hover {
          ul {
            display: block;

            opacity: 1;
            padding-top: 20px;
            
            transition: all 0.5s;
            
          li {
              /*decreasing space between second level items*/    
              transition: all 0.5s;
              padding-bottom: 12px; 
              &:hover {
                a::before {
                  content: url('/images/icons/right-arrow.svg');
                  margin-right: 10px;
                  transition: all 0.5s;
                } 
              }
            }
          }    
        }
      }
    }

  

  .bottom {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    color: $white;
    font-size: 14px;
  }
  
}

