div#menu-icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 4px;
  background: $white;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

div#menu-icon {
  width: 20px;
  height: 22.5px;
  position: relative;

  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 1.25s ease-in-out;
  -moz-transition: 1.25s ease-in-out;
  -o-transition: 1.25s ease-in-out;
  transition: 1.25s ease-in-out;
  cursor: pointer;
}

#menu-icon span:nth-child(even) {
  left: 50%;
  border-radius: 50%;
}

#menu-icon span:nth-child(odd) {
  left: 0px;
  border-radius: 50%;
}

#menu-icon span:nth-child(1),
#menu-icon span:nth-child(2),
#menu-icon span:nth-child(3) {
  top: 0px;
}

#menu-icon span:nth-child(4),
#menu-icon span:nth-child(5),
#menu-icon span:nth-child(6) {
  top: 9px;
}

#menu-icon span:nth-child(7),
#menu-icon span:nth-child(8),
#menu-icon span:nth-child(9) {
  top: 18px;
}

#menu-icon span:nth-child(3) {
  left: 100%;
}

#menu-icon span:nth-child(6) {
  left: 100%;
}

#menu-icon span:nth-child(9) {
  left: 100%;
}

#menu-icon.open span:nth-child(1) {
  width: 27px;
  transform: rotate(45deg);
  left: -4px;
  border-radius: 30px;
  top: 9px;
 
}

#menu-icon.open span:nth-child(3) {
  width: 27px;
  transform: rotate(-45deg);
  border-radius: 30px;
  left: -1px;
  top: 9px;
  background-color:#fff;

}

#menu-icon.open span:nth-child(7) {
  width: 27px;
  transform: rotate(-45deg);
  left: -4px;
  border-radius: 30px;
  top: 12px;


}

#menu-icon.open span:nth-child(9) {
  width: 27px;
  transform: rotate(45deg);
  border-radius: 30px;
  left: 0px;
  top: 13px;
;

}

#menu-icon.open span:nth-child(2) {
  top: 9px;
}

#menu-icon.open span:nth-child(5) {
  left: 50%;
}

#menu-icon.open span:nth-child(6) {
  left: 50%;
}

#menu-icon.open span:nth-child(8) {
  top: 9px;
}