@import '_constants';

nav {

  position: fixed;
  top: 0;
  z-index: 1;
  width: 100vw;

  height: 80.5px;
  display: flex;
  align-items: center;

  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: border-bottom 0.7s ease-out 0.7s;

  &.scrolled, &.noborder {
    border-bottom: 0px;
    transition: border-bottom 0.7s ease 0.7s;
  }


  .left {
    width: calc(100%/3);
    padding-left: 30px;

    a {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      text-decoration: none;
      background-color: transparent;
   
      width:55px;
      transition: all 0.3s ease-in-out;
      overflow: hidden;
      border-radius: 50px;
      padding: 11px 20px 11px 20px;
      position: relative;

      &:before {
        position: absolute;
        top:13px;
        content:url('/images/icons/phone.svg');
      }
      
      span {
        display: block;
        text-decoration: none;
        padding-left: 30px;
        overflow: hidden;
        height:27px;
        color:transparent;
      }

      &:hover {
        background-color: $white;
        // opacity: 0.7;
        width:185px;
        transition: width 0.3s ease-in-out;

        &:before {
          content:url('/images/icons/phone-black.svg');
        }

        span {
          color: $black;
        }
      }
    }



  }

  .middle {
    width: calc(100%/3);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .right {
    width: calc(100%/3);
    padding-right: 55px;
    margin-left: auto;

    display: flex;
    align-items: center;
    display: flex;
    justify-content: flex-end;

    a {
      color: $white;
      text-decoration: none;
      position: relative;
      display: block;
      padding-right: 30px;
      letter-spacing: 1px;
    }

    .text {
      margin-top: 0px;
    }

    #dots {
      padding-right: 0px;
      transition: all 1s;
    }

    #dots-image {
      width: 21px;
      height: 21px;
    }

  }


  &.scrolled {
    background-color: $black;
    border-bottom: 0px;
  }
}



@media (max-width: 600px) {}