@import '_constants';
@import '_fonts';

div.subscribe {

  display: flex;
  align-items: center;
  position: absolute;
  top: -40px;
  z-index: 0.5;
  background-color: $white;
  padding: 0px 25px 00px 25px;
  border-radius: 5px;
  height:80px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);

  span,
  input {
    font-family: f-HelveticaBold;
    letter-spacing: 0.25px;
    padding: 22px 0px 22px 0px;
  }

  span {
    padding-right: 15px;
  }

  input {
    font-family: f-HelveticaMedium;
    color: rgb(105, 105, 105);
    letter-spacing: 0.25px;
    height: 56px;
    padding-left: 20px;
    margin-right: 10px;
    width: 364px;
    border-radius: 5px;
    border:1px solid #C9C9C9;
    -webkit-appearance: none;
    

  }

  a {
    margin-right: 0px;
  }

}

@media (max-width: 880px) {

  div.subscribe {
    input {
      width: auto;
    }

  }

}


@media (max-width: 880px) {

  div.subscribe {
    flex-direction: column;
    width: 90%;
    padding-bottom: 20px;
    height:auto;

    span {}

    input {
      margin-bottom: 20px;
      width:60%;
    }

    a {}



  }

}