/*
https://stackoverflow.com/questions/24579785/force-iframe-youtube-video-to-center-fit-and-full-cover-the-screen-in-the-backgr
*/

@mixin iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

section.video-background {
  background: #000;
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
  background-image: url(/images/video-placeholder.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  iframe {
    @include iframe;
    z-index: 1;
  }

  .dotted-background {
    @include iframe;

    opacity: 0.5;
    background: url(/images/scanline.png);
    z-index: 2;
  }

  .container {
    z-index: 1;
    position: absolute;
    width: $site-width;
    max-width: 100%;
    height: 100vh;
    max-height: 100%;
    border: 0px solid yellow;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);

    .intro {
      border: 0px solid red;
      position: absolute;
      bottom: 80px;


      div:nth-child(1) {
        padding-bottom: 30px;
      }

      div:nth-child(2) {
        padding-bottom: 30px;
      }


    }

  }
}

.video-foreground {
  @include iframe;

}

@media (min-aspect-ratio: 16/9) {
  .video-foreground {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .video-foreground {
    width: 300%;
    left: -100%;
  }
}