.f-HelveticaLight {
  font-family: f-HelveticaLight;
}

.f-HelveticaRoman {
  font-family: f-HelveticaRoman;
}

.f-HelveticaMedium {
  font-family: f-HelveticaMedium;
}

.f-HelveticaBold {
  font-family: f-HelveticaBold;
}

.f-HelveticaHeavy {
  font-family: f-HelveticaHeavy;
}

@font-face {
  font-family: f-HelveticaLight;
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Lt.eot");
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Lt.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Lt.woff2") format("woff2"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Lt.woff") format("woff"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Lt.ttf") format("truetype"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Lt.svg#HelveticaNeueLTStd-LtIt") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: f-HelveticaRoman;
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Roman.eot");
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Roman.woff") format("woff"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Roman.ttf") format("truetype"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Roman.svg#HelveticaNeueLTStd-Roman") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: f-HelveticaMedium;
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Md.eot");
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Md.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Md.woff2") format("woff2"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Md.woff") format("woff"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Md.ttf") format("truetype"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Md.svg#HelveticaNeueLTStd-Md") format("svg");
  font-weight: 500;
}

@font-face {
  font-family: f-HelveticaBold;
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Bd.eot");
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Bd.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Bd.woff2") format("woff2"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Bd.woff") format("woff"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Bd.ttf") format("truetype"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Bd.svg#HelveticaNeueLTStd-Bd") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: f-HelveticaHeavy;
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Hv.eot");
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Hv.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Hv.woff2") format("woff2"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Hv.woff") format("woff"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Hv.ttf") format("truetype"), url("../fonts/HelveticaNeueHelveticaNeue/LTStd-Hv.svg#HelveticaNeueLTStd-HvIt") format("svg");
  font-weight: 900;
  font-style: italic;
}

* {
  font-size: 16px;
}

.f-78 {
  font-size: 78px;
  line-height: 72px;
}

.f-40 {
  font-size: 40px;
}

.f-32 {
  font-size: 32px;
}

.f-22 {
  font-size: 22px;
}

.f-20 {
  font-size: 20px;
}

.f-18 {
  font-size: 18px;
}

.f-open-sans {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.white {
  color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
}

.line-on-left {
  position: relative;
  padding-left: 10px;
}

.line-on-left:before {
  content: ' ';
  position: absolute;
  left: 0px;
  width: 4px;
  top: 23%;
  height: 60%;
  background-color: #20B8D6;
}

.mt8 {
  margin-top: 8px !important;
}

.mb50 {
  padding-bottom: 50px;
}

/*
https://ianlunn.github.io/Hover/
*/
a.black-button {
  background-color: #333;
  padding: 20px 33px 20px 33px;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 1px;
  font-family: f-HelveticaRoman;
  border-radius: 5px;
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  border: 2px solid #333;
}

a.black-button:hover, a.black-button:focus, a.black-button:active {
  color: #000000;
  background-color: transparent;
  border: 2px solid #333;
}

[class^="hvr-"] {
  cursor: pointer;
  background: #000000;
  text-decoration: none;
  color: #666;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  border-radius: 5px !important;
  padding-left: 18px !important;
  padding-right: 18px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

a.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ffffff;
  border-radius: 5px !important;
  border-color: #ffffff;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

#menu .content ul li:hover a.hvr-sweep-to-right {
  color: #000000 !important;
}

#menu .content ul li:hover a.hvr-sweep-to-right:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  border-radius: 5px;
  border: 1px solid #ffffff;
}

.closed {
  display: none;
}

.f-HelveticaLight {
  font-family: f-HelveticaLight;
}

.f-HelveticaRoman {
  font-family: f-HelveticaRoman;
}

.f-HelveticaMedium {
  font-family: f-HelveticaMedium;
}

.f-HelveticaBold {
  font-family: f-HelveticaBold;
}

.f-HelveticaHeavy {
  font-family: f-HelveticaHeavy;
}

@font-face {
  font-family: f-HelveticaLight;
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Lt.eot");
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Lt.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Lt.woff2") format("woff2"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Lt.woff") format("woff"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Lt.ttf") format("truetype"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Lt.svg#HelveticaNeueLTStd-LtIt") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: f-HelveticaRoman;
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Roman.eot");
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Roman.woff") format("woff"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Roman.ttf") format("truetype"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Roman.svg#HelveticaNeueLTStd-Roman") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: f-HelveticaMedium;
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Md.eot");
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Md.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Md.woff2") format("woff2"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Md.woff") format("woff"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Md.ttf") format("truetype"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Md.svg#HelveticaNeueLTStd-Md") format("svg");
  font-weight: 500;
}

@font-face {
  font-family: f-HelveticaBold;
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Bd.eot");
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Bd.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Bd.woff2") format("woff2"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Bd.woff") format("woff"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Bd.ttf") format("truetype"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Bd.svg#HelveticaNeueLTStd-Bd") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: f-HelveticaHeavy;
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Hv.eot");
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Hv.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Hv.woff2") format("woff2"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Hv.woff") format("woff"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Hv.ttf") format("truetype"), url("../fonts/HelveticaNeueHelveticaNeue/LTStd-Hv.svg#HelveticaNeueLTStd-HvIt") format("svg");
  font-weight: 900;
  font-style: italic;
}

* {
  font-size: 16px;
}

.f-78 {
  font-size: 78px;
  line-height: 72px;
}

.f-40 {
  font-size: 40px;
}

.f-32 {
  font-size: 32px;
}

.f-22 {
  font-size: 22px;
}

.f-20 {
  font-size: 20px;
}

.f-18 {
  font-size: 18px;
}

.f-open-sans {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.white {
  color: #ffffff;
}

.f-HelveticaLight {
  font-family: f-HelveticaLight;
}

.f-HelveticaRoman {
  font-family: f-HelveticaRoman;
}

.f-HelveticaMedium {
  font-family: f-HelveticaMedium;
}

.f-HelveticaBold {
  font-family: f-HelveticaBold;
}

.f-HelveticaHeavy {
  font-family: f-HelveticaHeavy;
}

@font-face {
  font-family: f-HelveticaLight;
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Lt.eot");
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Lt.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Lt.woff2") format("woff2"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Lt.woff") format("woff"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Lt.ttf") format("truetype"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Lt.svg#HelveticaNeueLTStd-LtIt") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: f-HelveticaRoman;
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Roman.eot");
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Roman.woff") format("woff"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Roman.ttf") format("truetype"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Roman.svg#HelveticaNeueLTStd-Roman") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: f-HelveticaMedium;
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Md.eot");
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Md.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Md.woff2") format("woff2"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Md.woff") format("woff"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Md.ttf") format("truetype"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Md.svg#HelveticaNeueLTStd-Md") format("svg");
  font-weight: 500;
}

@font-face {
  font-family: f-HelveticaBold;
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Bd.eot");
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Bd.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Bd.woff2") format("woff2"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Bd.woff") format("woff"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Bd.ttf") format("truetype"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Bd.svg#HelveticaNeueLTStd-Bd") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: f-HelveticaHeavy;
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Hv.eot");
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Hv.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Hv.woff2") format("woff2"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Hv.woff") format("woff"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Hv.ttf") format("truetype"), url("../fonts/HelveticaNeueHelveticaNeue/LTStd-Hv.svg#HelveticaNeueLTStd-HvIt") format("svg");
  font-weight: 900;
  font-style: italic;
}

* {
  font-size: 16px;
}

.f-78 {
  font-size: 78px;
  line-height: 72px;
}

.f-40 {
  font-size: 40px;
}

.f-32 {
  font-size: 32px;
}

.f-22 {
  font-size: 22px;
}

.f-20 {
  font-size: 20px;
}

.f-18 {
  font-size: 18px;
}

.f-open-sans {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.white {
  color: #ffffff;
}

footer {
  background-color: #212121;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .line-1 {
  margin-top: 110px;
  font-family: "Open Sans", sans-serif;
}

footer .line-2 {
  padding-top: 58px;
  padding-bottom: 50px;
}

footer .line-2 ul {
  list-style-type: none;
}

footer .line-2 ul li {
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}

footer .line-2 ul li a {
  font-family: f-HelveticaMedium;
  font-size: 18px;
  letter-spacing: 0.5px;
  text-decoration: none;
  color: #ffffff;
}

footer .line-3 {
  height: 1px;
  width: 65%;
  background-color: #707070;
  font-family: "Open Sans", sans-serif;
}

footer .line-4 {
  padding-top: 49px;
  padding-bottom: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 65%;
  font-size: 18px;
}

footer .line-4 .left {
  font-family: f-HelveticaRoman;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #ffffff;
}

footer .line-4 .right img {
  padding-left: 10px;
  padding-right: 10px;
}

footer .line-5 {
  width: 100%;
  background-color: #171717;
}

footer .line-5 .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 65%;
  margin: 0 auto;
  padding-top: 37px;
  padding-bottom: 35px;
  font-family: "Open Sans", sans-serif;
  background-color: #171717;
  width: 65%;
}

footer .line-5 .content .left {
  font-family: f-HelveticaRoman;
  font-size: 15px;
  color: #ffffff;
  letter-spacing: 0.5px;
}

footer .line-5 .content .right ul {
  list-style-type: none;
}

footer .line-5 .content .right li {
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  font-family: f-HelveticaRoman;
  font-size: 15px;
  letter-spacing: 0.5px;
}

footer .line-5 .content .right li:last-child {
  padding-right: 0px;
}

footer .line-5 .content .right li a {
  font-family: f-HelveticaRoman;
  font-size: 15px;
  text-decoration: none;
  color: #ffffff;
}

@media (max-width: 880px) {
  footer .line-1 {
    margin-top: 300px;
    font-family: "Open Sans", sans-serif;
  }
  footer .line-2 {
    padding-top: 58px;
    padding-bottom: 50px;
  }
  footer .line-2 ul {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .line-2 li {
    padding-bottom: 10px;
  }
  footer .line-3 {
    width: 85%;
  }
  footer .line-4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .line-4 .right {
    padding-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  footer .line-4 .right a {
    display: block;
  }
  footer .line-5 .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .line-5 .content .left {
    text-align: center;
    padding-bottom: 20px;
  }
  footer .line-5 .content .right ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .line-5 .content .right li {
    padding-bottom: 20px;
  }
  footer .line-5 .content .right li:last-child {
    padding-bottom: 0px;
  }
}

.f-HelveticaLight {
  font-family: f-HelveticaLight;
}

.f-HelveticaRoman {
  font-family: f-HelveticaRoman;
}

.f-HelveticaMedium {
  font-family: f-HelveticaMedium;
}

.f-HelveticaBold {
  font-family: f-HelveticaBold;
}

.f-HelveticaHeavy {
  font-family: f-HelveticaHeavy;
}

@font-face {
  font-family: f-HelveticaLight;
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Lt.eot");
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Lt.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Lt.woff2") format("woff2"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Lt.woff") format("woff"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Lt.ttf") format("truetype"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Lt.svg#HelveticaNeueLTStd-LtIt") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: f-HelveticaRoman;
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Roman.eot");
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Roman.woff") format("woff"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Roman.ttf") format("truetype"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Roman.svg#HelveticaNeueLTStd-Roman") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: f-HelveticaMedium;
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Md.eot");
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Md.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Md.woff2") format("woff2"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Md.woff") format("woff"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Md.ttf") format("truetype"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Md.svg#HelveticaNeueLTStd-Md") format("svg");
  font-weight: 500;
}

@font-face {
  font-family: f-HelveticaBold;
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Bd.eot");
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Bd.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Bd.woff2") format("woff2"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Bd.woff") format("woff"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Bd.ttf") format("truetype"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Bd.svg#HelveticaNeueLTStd-Bd") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: f-HelveticaHeavy;
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Hv.eot");
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Hv.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Hv.woff2") format("woff2"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Hv.woff") format("woff"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Hv.ttf") format("truetype"), url("../fonts/HelveticaNeueHelveticaNeue/LTStd-Hv.svg#HelveticaNeueLTStd-HvIt") format("svg");
  font-weight: 900;
  font-style: italic;
}

* {
  font-size: 16px;
}

.f-78 {
  font-size: 78px;
  line-height: 72px;
}

.f-40 {
  font-size: 40px;
}

.f-32 {
  font-size: 32px;
}

.f-22 {
  font-size: 22px;
}

.f-20 {
  font-size: 20px;
}

.f-18 {
  font-size: 18px;
}

.f-open-sans {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.white {
  color: #ffffff;
}

section.full-page-banner {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  background-repeat: none;
  background-size: cover;
}

section.full-page-banner .high-res {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  z-index: 0.1;
  opacity: 0;
}

section.full-page-banner .wrapper {
  width: 1050px;
  margin: 0 auto;
  position: relative;
  z-index: 20;
}

section.full-page-banner .wrapper .high-res {
  position: absolute;
  background-position: 50% 50%;
  z-index: 0.2;
}

section.full-page-banner .wrapper .text {
  position: absolute;
  bottom: 37px;
  z-index: 0.3;
}

section.full-page-banner .wrapper .text h1 {
  display: block;
  font-size: 30px;
  font-family: f-HelveticaMedium;
  color: #ffffff !important;
}

section.full-page-banner .wrapper .text h3 {
  display: block;
  max-width: 446px;
  line-height: 61px;
  font-size: 61px;
  font-family: f-HelveticaBold;
  color: #ffffff !important;
}

section.full-width-message {
  background-color: #F5F5F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 220px 0px 220px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.full-width-message h3 {
  font-size: 60px;
  letter-spacing: -2px;
  line-height: 60px;
  padding-bottom: 40px;
}

@media (max-width: 680px) {
  section.full-width-message h3 {
    max-width: 95%;
    text-align: center;
  }
}

section.heading-left-text-right {
  width: 1050px;
  max-width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 115px;
  padding-bottom: 100px;
}

section.heading-left-text-right > div {
  border: 0px solid #000000;
  width: 50%;
}

section.heading-left-text-right > div.left {
  padding-right: 51px;
  text-align: right;
  line-height: 40px;
  letter-spacing: -1px;
}

section.heading-left-text-right > div.right p {
  padding-bottom: 34px;
  line-height: 30px;
}

section.heading-left-text-right > div.right p:last-child {
  padding-bottom: 0px;
}

section.heading-left-text-right > div.right .closed {
  padding-top: 25px;
}

section.heading-left-text-right > div.right .read-more-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: middle;
  margin-left: 0px;
  margin-top: -2px;
  position: relative;
  cursor: pointer;
  height: 15px;
}

section.heading-left-text-right > div.right .read-more-button .read-more-icon {
  position: relative;
  margin-left: 15px;
}

section.heading-left-text-right > div.right .read-more-button .read-more-icon span {
  display: block;
  position: absolute;
  background: #000;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  margin-top: 2px;
}

section.heading-left-text-right > div.right .read-more-button .read-more-icon span:first-child {
  top: 3px;
  height: 15px;
  width: 1px;
  left: 49%;
}

section.heading-left-text-right > div.right .read-more-button .read-more-icon span:last-child {
  top: 66%;
  height: 1px;
  width: 15px;
  left: -7px;
}

section.heading-left-text-right > div.right .read-more-button .read-more-icon.rotated span:first-child {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

section.heading-left-text-right > div.right .read-more-button .read-more-icon.rotated span:last-child {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media (max-width: 900px) {
  section.heading-left-text-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.heading-left-text-right > div {
    width: 100%;
  }
  section.heading-left-text-right > div.left {
    padding-right: 0px;
    padding-bottom: 20px;
    text-align: left;
  }
}

.f-HelveticaLight {
  font-family: f-HelveticaLight;
}

.f-HelveticaRoman {
  font-family: f-HelveticaRoman;
}

.f-HelveticaMedium {
  font-family: f-HelveticaMedium;
}

.f-HelveticaBold {
  font-family: f-HelveticaBold;
}

.f-HelveticaHeavy {
  font-family: f-HelveticaHeavy;
}

@font-face {
  font-family: f-HelveticaLight;
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Lt.eot");
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Lt.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Lt.woff2") format("woff2"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Lt.woff") format("woff"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Lt.ttf") format("truetype"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Lt.svg#HelveticaNeueLTStd-LtIt") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: f-HelveticaRoman;
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Roman.eot");
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Roman.woff") format("woff"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Roman.ttf") format("truetype"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Roman.svg#HelveticaNeueLTStd-Roman") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: f-HelveticaMedium;
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Md.eot");
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Md.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Md.woff2") format("woff2"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Md.woff") format("woff"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Md.ttf") format("truetype"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Md.svg#HelveticaNeueLTStd-Md") format("svg");
  font-weight: 500;
}

@font-face {
  font-family: f-HelveticaBold;
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Bd.eot");
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Bd.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Bd.woff2") format("woff2"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Bd.woff") format("woff"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Bd.ttf") format("truetype"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Bd.svg#HelveticaNeueLTStd-Bd") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: f-HelveticaHeavy;
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Hv.eot");
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Hv.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Hv.woff2") format("woff2"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Hv.woff") format("woff"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Hv.ttf") format("truetype"), url("../fonts/HelveticaNeueHelveticaNeue/LTStd-Hv.svg#HelveticaNeueLTStd-HvIt") format("svg");
  font-weight: 900;
  font-style: italic;
}

* {
  font-size: 16px;
}

.f-78 {
  font-size: 78px;
  line-height: 72px;
}

.f-40 {
  font-size: 40px;
}

.f-32 {
  font-size: 32px;
}

.f-22 {
  font-size: 22px;
}

.f-20 {
  font-size: 20px;
}

.f-18 {
  font-size: 18px;
}

.f-open-sans {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.white {
  color: #ffffff;
}

div.image-heading {
  width: 1050px;
  max-width: 95%;
  margin: 0 auto;
  max-width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div.image-heading a {
  letter-spacing: 0.5px;
}

@media (max-width: 600px) {
  div.image-heading {
    max-width: 95%;
  }
}

.f-HelveticaLight {
  font-family: f-HelveticaLight;
}

.f-HelveticaRoman {
  font-family: f-HelveticaRoman;
}

.f-HelveticaMedium {
  font-family: f-HelveticaMedium;
}

.f-HelveticaBold {
  font-family: f-HelveticaBold;
}

.f-HelveticaHeavy {
  font-family: f-HelveticaHeavy;
}

@font-face {
  font-family: f-HelveticaLight;
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Lt.eot");
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Lt.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Lt.woff2") format("woff2"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Lt.woff") format("woff"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Lt.ttf") format("truetype"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Lt.svg#HelveticaNeueLTStd-LtIt") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: f-HelveticaRoman;
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Roman.eot");
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Roman.woff") format("woff"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Roman.ttf") format("truetype"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Roman.svg#HelveticaNeueLTStd-Roman") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: f-HelveticaMedium;
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Md.eot");
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Md.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Md.woff2") format("woff2"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Md.woff") format("woff"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Md.ttf") format("truetype"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Md.svg#HelveticaNeueLTStd-Md") format("svg");
  font-weight: 500;
}

@font-face {
  font-family: f-HelveticaBold;
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Bd.eot");
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Bd.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Bd.woff2") format("woff2"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Bd.woff") format("woff"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Bd.ttf") format("truetype"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Bd.svg#HelveticaNeueLTStd-Bd") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: f-HelveticaHeavy;
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Hv.eot");
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Hv.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Hv.woff2") format("woff2"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Hv.woff") format("woff"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Hv.ttf") format("truetype"), url("../fonts/HelveticaNeueHelveticaNeue/LTStd-Hv.svg#HelveticaNeueLTStd-HvIt") format("svg");
  font-weight: 900;
  font-style: italic;
}

* {
  font-size: 16px;
}

.f-78 {
  font-size: 78px;
  line-height: 72px;
}

.f-40 {
  font-size: 40px;
}

.f-32 {
  font-size: 32px;
}

.f-22 {
  font-size: 22px;
}

.f-20 {
  font-size: 20px;
}

.f-18 {
  font-size: 18px;
}

.f-open-sans {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.white {
  color: #ffffff;
}

section.image-row {
  width: 1050px;
  max-width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.image-row a {
  display: block;
  position: relative;
  border-radius: 5px;
  width: calc((1050px - 8px) / 2);
  height: auto;
  margin-right: 8px;
  overflow: hidden;
}

section.image-row a:last-child {
  margin-right: 0px;
}

section.image-row a .text {
  position: absolute;
  color: #ffffff;
  padding-bottom: 0px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

section.image-row.images-2 a .text {
  left: 25px;
  bottom: 20px;
}

section.image-row.images-2 a:hover .text {
  left: 30px;
  bottom: 25px;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

section.image-row.images-4 a .text {
  left: 15px;
  bottom: 10px;
}

section.image-row.images-4 a:hover .text {
  left: 20px;
  bottom: 15px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

section.image-row img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

section.image-row img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 600px) {
  section.image-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.image-row a {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 8px;
  }
  section.image-row a .text {
    position: absolute;
    color: #ffffff;
    padding-bottom: 0px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  section.image-row.images-2 a .text {
    left: 20px;
    bottom: 24px;
  }
  section.image-row.images-2 a:hover .text {
    left: 25px;
    bottom: 35px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  section.image-row.images-4 a .text {
    left: 20px;
    bottom: 15px;
  }
  section.image-row.images-4 a:hover .text {
    left: 25px;
    bottom: 25px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
}

section.line-with-link {
  width: 1050px;
  max-width: 95%;
  margin: 0 auto;
  max-width: 100%;
  border-top: 1px solid #E8E8E8;
  border-bottom: 1px solid #E8E8E8;
  padding-top: 25px;
  padding-bottom: 80px;
  margin-top: 30px;
  text-align: right;
}

section.line-with-link .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

section.line-with-link .content a {
  color: #000000;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  letter-spacing: 0.5px;
}

section.line-with-link .content .arrow {
  display: inline;
  width: 13px;
  height: 13px;
  background-image: url("/images/icons/arrow-right.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 10px;
  margin-top: 5px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

section.line-with-link .content:hover a {
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

section.line-with-link .content:hover .arrow {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media (max-width: 600px) {
  section.line-with-link {
    max-width: 95%;
  }
}

/*
https://stackoverflow.com/questions/24579785/force-iframe-youtube-video-to-center-fit-and-full-cover-the-screen-in-the-backgr
*/
#menu {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100vh;
  position: absolute;
  background-color: #000000;
  z-index: 1;
  opacity: 0;
}

#menu .content {
  opacity: 1;
  position: absolute;
  top: 43%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 20px;
}

#menu .content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#menu .content ul li {
  list-style-type: none;
  /*2nd level menu*/
}

#menu .content ul li a {
  font-family: f-HelveticaMedium;
  font-size: 30px;
  padding-left: 36px;
  padding-right: 36px;
  margin-left: 20px;
  margin-right: 20px;
  color: #ffffff;
  text-decoration: none;
  position: relative;
}

#menu .content ul li ul {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 40px;
  margin-left: -20px;
  width: 400px;
  opacity: 0;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  /*2nd level menu*/
}

#menu .content ul li ul li {
  /*decreasing padding*/
  padding-bottom: 15px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

#menu .content ul li ul li a {
  font-family: f-HelveticaMedium;
  font-size: 20px;
}

#menu .content ul:hover ul {
  display: block;
  opacity: 1;
  padding-top: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#menu .content ul:hover ul li {
  /*decreasing space between second level items*/
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding-bottom: 12px;
}

#menu .content ul:hover ul li:hover a {
  color: green;
}

#menu .content ul:hover ul li:hover a:before {
  content: url("/images/icons/right-arrow.svg");
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#menu .bottom {
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #ffffff;
  font-size: 14px;
}

div#menu-icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 4px;
  background: #ffffff;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

div#menu-icon {
  width: 20px;
  height: 22.5px;
  position: relative;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 1.25s ease-in-out;
  transition: 1.25s ease-in-out;
  cursor: pointer;
}

#menu-icon span:nth-child(even) {
  left: 50%;
  border-radius: 50%;
}

#menu-icon span:nth-child(odd) {
  left: 0px;
  border-radius: 50%;
}

#menu-icon span:nth-child(1),
#menu-icon span:nth-child(2),
#menu-icon span:nth-child(3) {
  top: 0px;
}

#menu-icon span:nth-child(4),
#menu-icon span:nth-child(5),
#menu-icon span:nth-child(6) {
  top: 9px;
}

#menu-icon span:nth-child(7),
#menu-icon span:nth-child(8),
#menu-icon span:nth-child(9) {
  top: 18px;
}

#menu-icon span:nth-child(3) {
  left: 100%;
}

#menu-icon span:nth-child(6) {
  left: 100%;
}

#menu-icon span:nth-child(9) {
  left: 100%;
}

#menu-icon.open span:nth-child(1) {
  width: 27px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: -4px;
  border-radius: 30px;
  top: 9px;
}

#menu-icon.open span:nth-child(3) {
  width: 27px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  border-radius: 30px;
  left: -1px;
  top: 9px;
  background-color: #fff;
}

#menu-icon.open span:nth-child(7) {
  width: 27px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: -4px;
  border-radius: 30px;
  top: 12px;
}

#menu-icon.open span:nth-child(9) {
  width: 27px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-radius: 30px;
  left: 0px;
  top: 13px;
}

#menu-icon.open span:nth-child(2) {
  top: 9px;
}

#menu-icon.open span:nth-child(5) {
  left: 50%;
}

#menu-icon.open span:nth-child(6) {
  left: 50%;
}

#menu-icon.open span:nth-child(8) {
  top: 9px;
}

nav {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100vw;
  height: 80.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-transition: border-bottom 0.7s ease-out 0.7s;
  transition: border-bottom 0.7s ease-out 0.7s;
}

nav.scrolled, nav.noborder {
  border-bottom: 0px;
  -webkit-transition: border-bottom 0.7s ease 0.7s;
  transition: border-bottom 0.7s ease 0.7s;
}

nav .left {
  width: calc(100%/3);
  padding-left: 30px;
}

nav .left a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  background-color: transparent;
  width: 55px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  border-radius: 50px;
  padding: 11px 20px 11px 20px;
  position: relative;
}

nav .left a:before {
  position: absolute;
  top: 13px;
  content: url("/images/icons/phone.svg");
}

nav .left a span {
  display: block;
  text-decoration: none;
  padding-left: 30px;
  overflow: hidden;
  height: 27px;
  color: transparent;
}

nav .left a:hover {
  background-color: #ffffff;
  width: 185px;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

nav .left a:hover:before {
  content: url("/images/icons/phone-black.svg");
}

nav .left a:hover span {
  color: #000000;
}

nav .middle {
  width: calc(100%/3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .right {
  width: calc(100%/3);
  padding-right: 55px;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav .right a {
  color: #ffffff;
  text-decoration: none;
  position: relative;
  display: block;
  padding-right: 30px;
  letter-spacing: 1px;
}

nav .right .text {
  margin-top: 0px;
}

nav .right #dots {
  padding-right: 0px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

nav .right #dots-image {
  width: 21px;
  height: 21px;
}

nav.scrolled {
  background-color: #000000;
  border-bottom: 0px;
}

.f-HelveticaLight {
  font-family: f-HelveticaLight;
}

.f-HelveticaRoman {
  font-family: f-HelveticaRoman;
}

.f-HelveticaMedium {
  font-family: f-HelveticaMedium;
}

.f-HelveticaBold {
  font-family: f-HelveticaBold;
}

.f-HelveticaHeavy {
  font-family: f-HelveticaHeavy;
}

@font-face {
  font-family: f-HelveticaLight;
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Lt.eot");
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Lt.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Lt.woff2") format("woff2"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Lt.woff") format("woff"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Lt.ttf") format("truetype"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Lt.svg#HelveticaNeueLTStd-LtIt") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: f-HelveticaRoman;
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Roman.eot");
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Roman.woff") format("woff"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Roman.ttf") format("truetype"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Roman.svg#HelveticaNeueLTStd-Roman") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: f-HelveticaMedium;
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Md.eot");
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Md.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Md.woff2") format("woff2"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Md.woff") format("woff"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Md.ttf") format("truetype"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Md.svg#HelveticaNeueLTStd-Md") format("svg");
  font-weight: 500;
}

@font-face {
  font-family: f-HelveticaBold;
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Bd.eot");
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Bd.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Bd.woff2") format("woff2"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Bd.woff") format("woff"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Bd.ttf") format("truetype"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Bd.svg#HelveticaNeueLTStd-Bd") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: f-HelveticaHeavy;
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Hv.eot");
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Hv.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Hv.woff2") format("woff2"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Hv.woff") format("woff"), url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Hv.ttf") format("truetype"), url("../fonts/HelveticaNeueHelveticaNeue/LTStd-Hv.svg#HelveticaNeueLTStd-HvIt") format("svg");
  font-weight: 900;
  font-style: italic;
}

* {
  font-size: 16px;
}

.f-78 {
  font-size: 78px;
  line-height: 72px;
}

.f-40 {
  font-size: 40px;
}

.f-32 {
  font-size: 32px;
}

.f-22 {
  font-size: 22px;
}

.f-20 {
  font-size: 20px;
}

.f-18 {
  font-size: 18px;
}

.f-open-sans {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.white {
  color: #ffffff;
}

div.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: -40px;
  z-index: 0.5;
  background-color: #ffffff;
  padding: 0px 25px 00px 25px;
  border-radius: 5px;
  height: 80px;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}

div.subscribe span,
div.subscribe input {
  font-family: f-HelveticaBold;
  letter-spacing: 0.25px;
  padding: 22px 0px 22px 0px;
}

div.subscribe span {
  padding-right: 15px;
}

div.subscribe input {
  font-family: f-HelveticaMedium;
  color: dimgray;
  letter-spacing: 0.25px;
  height: 56px;
  padding-left: 20px;
  margin-right: 10px;
  width: 364px;
  border-radius: 5px;
  border: 1px solid #C9C9C9;
  -webkit-appearance: none;
}

div.subscribe a {
  margin-right: 0px;
}

@media (max-width: 880px) {
  div.subscribe input {
    width: auto;
  }
}

@media (max-width: 880px) {
  div.subscribe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    padding-bottom: 20px;
    height: auto;
  }
  div.subscribe input {
    margin-bottom: 20px;
    width: 60%;
  }
}

/*
https://stackoverflow.com/questions/24579785/force-iframe-youtube-video-to-center-fit-and-full-cover-the-screen-in-the-backgr
*/
section.video-background {
  background: #000;
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
  background-image: url(/images/video-placeholder.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

section.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

section.video-background .dotted-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0.5;
  background: url(/images/scanline.png);
  z-index: 2;
}

section.video-background .container {
  z-index: 1;
  position: absolute;
  width: 1050px;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  border: 0px solid yellow;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

section.video-background .container .intro {
  border: 0px solid red;
  position: absolute;
  bottom: 80px;
}

section.video-background .container .intro div:nth-child(1) {
  padding-bottom: 30px;
}

section.video-background .container .intro div:nth-child(2) {
  padding-bottom: 30px;
}

.video-foreground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

@media (min-aspect-ratio: 16 / 9) {
  .video-foreground {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16 / 9) {
  .video-foreground {
    width: 300%;
    left: -100%;
  }
}
/*# sourceMappingURL=styles.css.map */