@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('../fonts/HelveticaNeue/LTStd-BlkIt.eot');
    src: url('../fonts/HelveticaNeue/LTStd-BlkIt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeue/LTStd-BlkIt.woff2') format('woff2'),
        url('../fonts/HelveticaNeue/LTStd-BlkIt.woff') format('woff'),
        url('../fonts/HelveticaNeue/LTStd-BlkIt.ttf') format('truetype'),
        url('../fonts/HelveticaNeue/LTStd-BlkIt.svg#HelveticaNeueLTStd-BlkIt') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('../fonts/HelveticaNeue/LTStd-HvIt.eot');
    src: url('../fonts/HelveticaNeue/LTStd-HvIt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeue/LTStd-HvIt.woff2') format('woff2'),
        url('../fonts/HelveticaNeue/LTStd-HvIt.woff') format('woff'),
        url('../fonts/HelveticaNeue/LTStd-HvIt.ttf') format('truetype'),
        url('../fonts/HelveticaNeue/LTStd-HvIt.svg#HelveticaNeueLTStd-HvIt') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('../fonts/HelveticaNeue/LTStd-It.eot');
    src: url('../fonts/HelveticaNeue/LTStd-It.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeue/LTStd-It.woff2') format('woff2'),
        url('../fonts/HelveticaNeue/LTStd-It.woff') format('woff'),
        url('../fonts/HelveticaNeue/LTStd-It.ttf') format('truetype'),
        url('../fonts/HelveticaNeue/LTStd-It.svg#HelveticaNeueLTStd-It') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('../fonts/HelveticaNeue/LTStd-UltLtEx.eot');
    src: url('../fonts/HelveticaNeue/LTStd-UltLtEx.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeue/LTStd-UltLtEx.woff2') format('woff2'),
        url('../fonts/HelveticaNeue/LTStd-UltLtEx.woff') format('woff'),
        url('../fonts/HelveticaNeue/LTStd-UltLtEx.ttf') format('truetype'),
        url('../fonts/HelveticaNeue/LTStd-UltLtEx.svg#HelveticaNeueLTStd-UltLtEx') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('../fonts/HelveticaNeue/LTStd-UltLt.eot');
    src: url('../fonts/HelveticaNeue/LTStd-UltLt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeue/LTStd-UltLt.woff2') format('woff2'),
        url('../fonts/HelveticaNeue/LTStd-UltLt.woff') format('woff'),
        url('../fonts/HelveticaNeue/LTStd-UltLt.ttf') format('truetype'),
        url('../fonts/HelveticaNeue/LTStd-UltLt.svg#HelveticaNeueLTStd-UltLt') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('../fonts/HelveticaNeue/LTStd-MdIt.eot');
    src: url('../fonts/HelveticaNeue/LTStd-MdIt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeue/LTStd-MdIt.woff2') format('woff2'),
        url('../fonts/HelveticaNeue/LTStd-MdIt.woff') format('woff'),
        url('../fonts/HelveticaNeue/LTStd-MdIt.ttf') format('truetype'),
        url('../fonts/HelveticaNeue/LTStd-MdIt.svg#HelveticaNeueLTStd-MdIt') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('../fonts/HelveticaNeue/LTStd-Md.eot');
    src: url('../fonts/HelveticaNeue/LTStd-Md.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeue/LTStd-Md.woff2') format('woff2'),
        url('../fonts/HelveticaNeue/LTStd-Md.woff') format('woff'),
        url('../fonts/HelveticaNeue/LTStd-Md.ttf') format('truetype'),
        url('../fonts/HelveticaNeue/LTStd-Md.svg#HelveticaNeueLTStd-Md') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('../fonts/HelveticaNeue/LTStd-Roman.eot');
    src: url('../fonts/HelveticaNeue/LTStd-Roman.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeue/LTStd-Roman.woff2') format('woff2'),
        url('../fonts/HelveticaNeue/LTStd-Roman.woff') format('woff'),
        url('../fonts/HelveticaNeue/LTStd-Roman.ttf') format('truetype'),
        url('../fonts/HelveticaNeue/LTStd-Roman.svg#HelveticaNeueLTStd-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('../fonts/HelveticaNeue/LTStd-BlkEx.eot');
    src: url('../fonts/HelveticaNeue/LTStd-BlkEx.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeue/LTStd-BlkEx.woff2') format('woff2'),
        url('../fonts/HelveticaNeue/LTStd-BlkEx.woff') format('woff'),
        url('../fonts/HelveticaNeue/LTStd-BlkEx.ttf') format('truetype'),
        url('../fonts/HelveticaNeue/LTStd-BlkEx.svg#HelveticaNeueLTStd-BlkEx') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('../fonts/HelveticaNeue/LTStd-UltLtIt.eot');
    src: url('../fonts/HelveticaNeue/LTStd-UltLtIt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeue/LTStd-UltLtIt.woff2') format('woff2'),
        url('../fonts/HelveticaNeue/LTStd-UltLtIt.woff') format('woff'),
        url('../fonts/HelveticaNeue/LTStd-UltLtIt.ttf') format('truetype'),
        url('../fonts/HelveticaNeue/LTStd-UltLtIt.svg#HelveticaNeueLTStd-UltLtIt') format('svg');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('../fonts/HelveticaNeue/LTStd-Bd.eot');
    src: url('../fonts/HelveticaNeue/LTStd-Bd.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeue/LTStd-Bd.woff2') format('woff2'),
        url('../fonts/HelveticaNeue/LTStd-Bd.woff') format('woff'),
        url('../fonts/HelveticaNeue/LTStd-Bd.ttf') format('truetype'),
        url('../fonts/HelveticaNeue/LTStd-Bd.svg#HelveticaNeueLTStd-Bd') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('../fonts/HelveticaNeue/LTStd-BdEx.eot');
    src: url('../fonts/HelveticaNeue/LTStd-BdEx.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeue/LTStd-BdEx.woff2') format('woff2'),
        url('../fonts/HelveticaNeue/LTStd-BdEx.woff') format('woff'),
        url('../fonts/HelveticaNeue/LTStd-BdEx.ttf') format('truetype'),
        url('../fonts/HelveticaNeue/LTStd-BdEx.svg#HelveticaNeueLTStd-BdEx') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('../fonts/HelveticaNeue/LTStd-BdIt.eot');
    src: url('../fonts/HelveticaNeue/LTStd-BdIt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeue/LTStd-BdIt.woff2') format('woff2'),
        url('../fonts/HelveticaNeue/LTStd-BdIt.woff') format('woff'),
        url('../fonts/HelveticaNeue/LTStd-BdIt.ttf') format('truetype'),
        url('../fonts/HelveticaNeue/LTStd-BdIt.svg#HelveticaNeueLTStd-BdIt') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('../fonts/HelveticaNeue/LTStd-Blk.eot');
    src: url('../fonts/HelveticaNeue/LTStd-Blk.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeue/LTStd-Blk.woff2') format('woff2'),
        url('../fonts/HelveticaNeue/LTStd-Blk.woff') format('woff'),
        url('../fonts/HelveticaNeue/LTStd-Blk.ttf') format('truetype'),
        url('../fonts/HelveticaNeue/LTStd-Blk.svg#HelveticaNeueLTStd-Blk') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('../fonts/HelveticaNeue/LTStd-Hv.eot');
    src: url('../fonts/HelveticaNeue/LTStd-Hv.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeue/LTStd-Hv.woff2') format('woff2'),
        url('../fonts/HelveticaNeue/LTStd-Hv.woff') format('woff'),
        url('../fonts/HelveticaNeue/LTStd-Hv.ttf') format('truetype'),
        url('../fonts/HelveticaNeue/LTStd-Hv.svg#HelveticaNeueLTStd-Hv') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('../fonts/HelveticaNeue/LTStd-LtIt.eot');
    src: url('../fonts/HelveticaNeue/LTStd-LtIt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeue/LTStd-LtIt.woff2') format('woff2'),
        url('../fonts/HelveticaNeue/LTStd-LtIt.woff') format('woff'),
        url('../fonts/HelveticaNeue/LTStd-LtIt.ttf') format('truetype'),
        url('../fonts/HelveticaNeue/LTStd-LtIt.svg#HelveticaNeueLTStd-LtIt') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('../fonts/HelveticaNeue/LTStd-LtEx.eot');
    src: url('../fonts/HelveticaNeue/LTStd-LtEx.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeue/LTStd-LtEx.woff2') format('woff2'),
        url('../fonts/HelveticaNeue/LTStd-LtEx.woff') format('woff'),
        url('../fonts/HelveticaNeue/LTStd-LtEx.ttf') format('truetype'),
        url('../fonts/HelveticaNeue/LTStd-LtEx.svg#HelveticaNeueLTStd-LtEx') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('../fonts/HelveticaNeue/LTStd-Lt.eot');
    src: url('../fonts/HelveticaNeue/LTStd-Lt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeue/LTStd-Lt.woff2') format('woff2'),
        url('../fonts/HelveticaNeue/LTStd-Lt.woff') format('woff'),
        url('../fonts/HelveticaNeue/LTStd-Lt.ttf') format('truetype'),
        url('../fonts/HelveticaNeue/LTStd-Lt.svg#HelveticaNeueLTStd-Lt') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('../fonts/HelveticaNeue/LTStd-MdEx.eot');
    src: url('../fonts/HelveticaNeue/LTStd-MdEx.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeue/LTStd-MdEx.woff2') format('woff2'),
        url('../fonts/HelveticaNeue/LTStd-MdEx.woff') format('woff'),
        url('../fonts/HelveticaNeue/LTStd-MdEx.ttf') format('truetype'),
        url('../fonts/HelveticaNeue/LTStd-MdEx.svg#HelveticaNeueLTStd-MdEx') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('../fonts/HelveticaNeue/LTStd-Ex.eot');
    src: url('../fonts/HelveticaNeue/LTStd-Ex.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeue/LTStd-Ex.woff2') format('woff2'),
        url('../fonts/HelveticaNeue/LTStd-Ex.woff') format('woff'),
        url('../fonts/HelveticaNeue/LTStd-Ex.ttf') format('truetype'),
        url('../fonts/HelveticaNeue/LTStd-Ex.svg#HelveticaNeueLTStd-Ex') format('svg');
    font-weight: normal;
    font-style: normal;
}

